<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.jhongcarlos.com.androidquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".EasyActivity" />
        <activity android:name=".Easy2Activity" />
        <activity android:name=".Easy3Activity" />
        <activity android:name=".Easy4Activity" />
        <activity android:name=".Easy5Activity" />
        <activity android:name=".EasyResultActivity" />
        <activity android:name=".AllScore" />
        <activity android:name=".MediumActivity" />
        <activity android:name=".Medium2Activity" />
        <activity android:name=".Medium3Activity" />
        <activity android:name=".Medium4Activity" />
        <activity android:name=".Medium5Activity" />
        <activity android:name=".MediumResultActivity" />
        <activity android:name=".HardActivity" />
        <activity android:name=".Hard2Activity" />
        <activity android:name=".Hard3Activity" />
        <activity android:name=".Hard4Activity" />
        <activity android:name=".Hard5Activity" />
        <activity android:name=".HardResultActivity"></activity>
    </application>

</manifest>